<% if @name %>
<h1 style="color:blue;"> My name is <%= @name %>.</h1>
<% end %>

<div style = "border: 3px dashed <%= @color %> ; max-width: 400px" >
  <img style = 'width: 400px'src='http://bit.ly/1eze8aE'>
 </div>


